#search {
 color:darkorange;
 background-color: white;
 border: 5px white;
 height: 19.5px;
 /* border-radius: 3px;    */
 font-weight: 600;
}
#search:hover{
    background-color: darkslategrey;
    color: white;
}

#search-query{
    width: 70%;
    font-weight: 500;
}

.search-results-container{
    align-content: center;
}
#vid-thumbnail{
    padding-right: 10px;
}

#search-results{
    font-size: 10px;
}

ul{
    margin-left: 2px;
    padding: 0px;

}
